:root {
  --color-primary: rgb(228 155 100 / /100%);
  --color-secondary: rgb(186 103 113 / 100%);
  --color-tertiary: rgb(177 94 138 / 100%);
  --color-text: rgb(68 68 68);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
